<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Event Details</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Edit</button>
      <button class="btn btn-sm btn-outline-primary">Back</button>
    </div>
  </div>
</div>

<h5>Event name</h5>
<div class="loader"></div>
<!-- TODO: add card that displays event and booking info here -->
