<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Details</h1>
</div>

<h5>Event name</h5>

<!-- TODO: add card that displays event and booking info here -->
<div class="row">
  <div class="col">

    <div class="card" *ngIf="evnt">
      <div class="card-header">
        <h4>{{ evnt.name }}</h4>
        <div class="top-right">
          <a routerLink="/edit-event/{{ evnt.id }}" class="btn btn-sm btn-outline-primary">
            <i class="fa fa-edit"></i> Edit Event
          </a> 
          <a routerLink="/new-bookin/{{ evnt.id }}" class="btn btn-sm btn-primary">
            <i class="fa fa-plus"></i> Add Booking
          </a>
        </div>
      </div>
      <!-- shows the booking associated to this event in cards -->
      <div class="card-body">
        <!-- row 1 containing event specific details -->
        <div class="row">
          <div class="col">
            <label class="col-sm col-md-4">Description :</label>
            <p class="col-sm col-md-9">
              {{ evnt.description }}
            </p>

            <!-- divider situation like this -->
            <hr>
          </div>
          <div class="col">
            <label class="col-sm col-md-4">Organization:</label> {{ org[0].name }}
          </div>
        </div>

        <!-- Row 2 containing booking cards -->
        <p class="note">Bookings under {{evnt.name}}.</p>

        <div class="row">
          <div class="col-6" *ngFor="let booking of bookings">

            <!-- Edit modal -->
            <ng-template #editModal let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Edit Booking</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="onBookingSubmit(bookForm.value)" #bookForm="ngForm">
                  <div class="col-md-8 mb-3">
                    <input type="text" class="form-control" name="id" [(ngModel)]="booking.id" hidden>
                  </div>
      
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="strt-date">Date of event (start):</label>
                      <div class="input-group">
                        <input class="form-control"
                                name="start_date" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker" required>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                          </button>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-md-6 mb-3">
                      <label for="end-date">End date:</label>
                      <div class="input-group">
                        <input class="form-control" name="end_date" 
                              [(ngModel)]="endDate" ngbDatepicker #e="ngbDatepicker" required>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="strt">Start Time:</label>
                      <ngb-timepicker [(ngModel)]="startTime" name="start_time"></ngb-timepicker>
                      <!-- <input type="email" class="form-control" id="strt" ngModel name="strt_time" placeholder="10:00"> -->
                    </div>
              
                    <div class="col-md-6 mb-3">
                      <label for="end">End Time:</label>
                      <ngb-timepicker [(ngModel)]="endTime" name="end_time"></ngb-timepicker>
                      <!-- <input type="text" class="form-control" id="end" placeholder="12:00" ngModel name="emd_time" required> -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="people">Number of People attending:</label>
                      <input type="number" class="form-control" id="people" name="number_of_people" [(ngModel)]="booking.number_of_people" required>
                    </div>
              
                    <div class="col-md-6 mb-3">
                      <label for="space">Room/Space booked: <small>Hold down <kbd>Ctrl</kbd> to select multiple</small></label>
                      <select multiple class="custom-select d-block w-100" ngModel name="rooms" id="space" required>
                        <option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</option>
                        <!-- <option>-- Choose --</option> -->
                      </select>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="kitchen">Kitchen Requirements: <small>Anything needed from the kitchen</small></label>
                      <textarea class="form-control" rows="3" id="kitchen" [(ngModel)]="booking.kitchen_requirements" name="kitchen_requirements" required></textarea>
                    </div>
              
                    <div class="col-md-6 mb-3">
                      <label for="space">Has Event been paid for:</label>
                      <div>
                        <label><input type="radio" [ngModel]="booking.paid" name="paid" value="true" required>Yes</label>
                        <label><input type="radio" [ngModel]="booking.paid" name="paid" value="false" required>No</label>
                      </div>
                      
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateBk(bookForm.value)">Save</button>
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
              </div>
            </ng-template>
            <!-- ./ edit modal -->

            <!-- Delete modal for event -->     
            <ng-template #deleteBk let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Confirm Deletion</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this booking (ID: {{ booking.id }}) forever?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="c( booking.id )">Yes</button>
                <button type="button" class="btn btn-light" (click)="c('Close click')">Cancel</button>
              </div>
            </ng-template>
            <!-- ./delete modal code -->
            <!-- ./ Modal section -->

            <!-- Inner bookings card -->
            <div class="card z-2">
              <div class="card-header">
                <h6>Booking Details</h6>
                <div class="top-right">
                  <button type="button" class="close" aria-label="Close" (click)="openDelete(deleteBk)">
                    <span class="danger" aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <table>
                  <tr> 
                    <td><label>Start time:</label> {{ booking.start_time }}</td>
                    <td> <label>End time:</label> {{ booking.end_time }}</td>
                  </tr>
                  <tr>
                    <td> <label>Start Date:</label> {{ booking.start_date}}</td>
                    <td> <label>End Date:</label> {{ booking.end_date }}</td>
                  </tr>
                  <tr> 
                    
                  </tr>
                </table> 
                <dl> 
                  <dd> <label>Number of people attending:</label> {{ booking.number_of_people }}</dd>
                  <dd><!-- displays the rooms -->
                    <label>Rooms Booked:</label>
                    <ul *ngFor="let room of booking.rooms">
                      <li>{{ room.name }}</li>
                    </ul>
                  </dd>
                  <dd>
                    <label>Kitchen Requirements:</label>
                    {{ booking.kitchen_requirements }}
                  </dd>
                </dl>

                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-md btn-outline-primary" (click)="openEdit(editModal, booking)">
                    <i class="fa fa-edit"></i> Edit
                  </button>
                </div>
              </div>
            </div><!-- ./inner card -->

          </div>
        </div>
      </div>
      
    </div>

    <div class="row" *ngIf="!evnt">
      <!-- load spinner -->
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    </div>
    
  </div>
</div>
