<!-- dashboard page -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>

<div class="row">
  <div class="col">
    <!-- Today's bookings card -->
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Today's bookings</h5>
            <h3><span class="badge badge-pill badge-primary">9</span></h3>
        </div>
        <p class="card-text">
          These are the events that have been booked for today - 30 March, 2018. (still static)
        </p>
        <!-- buttom -->
        <div class="d-flex justify-content-end">
          <div class="btn-group">
            <button type="button" class="btn btn-md btn-outline-secondary">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- View booking card -->
  <div class="col">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h5 class="card-title">View All booking</h5>
        <p class="card-text">
          View all the bookings that have been created till date.
        </p>
        <!-- buttom -->
        <div class="d-flex justify-content-end">
          <div class="btn-group">
            <a routerLink="/view-booking" class="btn btn-md btn-outline-secondary">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- create booking card -->
  <div class="col">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h5 class="card-title">Create a new booking</h5>
        <p class="card-text">
          Add new booking requests here by simply filling in the form.
        </p>
        <!-- buttom -->
        <div class="d-flex justify-content-end">
            <div class="btn-group">
              <a routerLink="/add-booking" class="btn btn-md btn-outline-secondary">Add booking</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
