<!-- Side menu -->

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="clearfix">
        <img class="mb-2 mx-auto d-block avatar" src="../../../assets/avatar.png" alt="avatar" width="72" height="72">
        <h5>{{ getUsername() }} <span class="dot" aria-label="online"></span></h5>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-home"></i>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-booking" routerLinkActive="active">
          <i class="fa fa-table"></i>
          View Bookings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-booking" routerLinkActive="active">
          <i class="fa fa-plus"></i>
          New Booking
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link"  routerLink="/calendar" routerLinkActive="active">
          <i class="fa fa-calendar"></i>
          Calendar View
        </a>
      </li> -->
    </ul>

    <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>User settings</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <i class="fa fa-user"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-text"></i>
          Profile <small>(coming soon)</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          <i class="fa fa-user-plus"></i>
          Create new user
        </a>
      </li>
    </ul> -->
  </div>
</nav>
