<!-- Main app page layout -->

<!-- loader -->
<div class="wrapper">
  <div class="loader-bg">
    <div class="loader-bar">
  </div>
</div>

<!-- navbar -->
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <!-- flash messages comes here (if any) -->
    
    <!-- side menu -->
    <app-sidemenu></app-sidemenu>

    <!-- content area -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <router-outlet></router-outlet>
    </main>
  </div>

</div>

