<!-- Login page -->
<div class="pt-5 pb-5">
  <div class="mx-auto card login-card" style="width: 350px">
    <div class="card-body">
  
      <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="logForm">
        <img class="mb-4 mx-auto d-block" src="../../../assets/logo.png" alt="Logo" width="72" height="72">
  
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" formControlName="email" 
          placeholder="Email address" required autofocus>
        
          <!-- error message -->
        <small class="error" *ngIf="!logForm.controls.email.valid && (logForm.controls.email.dirty)" >
          Invalid email, please enter valid email.
        </small>
          
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
        
        <!-- error message -->
        <small class="error" *ngIf="!logForm.controls.password.valid && (logForm.controls.password.dirty)" >
          Password must be 6 or more characters.
        </small>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
  
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a routerLink="/dashboard">Skip</a>
  
        <p class="mt-5 mb-3 justify-content-center text-muted">Agora Code Community &copy;2018</p>
      </form>
    </div>
      
  </div>
</div>
