<!-- Login page -->
<div class="pt-5 pb-5">
  <div class="mx-auto card login-card" style="width: 350px">
    <div class="card-body">
  
      <form class="form-signin" (ngSubmit)="onSubmit(logForm.value)" [formGroup]="logForm">
        <img class="mb-4 mx-auto d-block" src="../../../assets/logo.png" alt="Logo" width="72" height="72">
  
        <h1 id="mid" class="h3 mb-3 font-weight-normal">Sign In</h1>
  
        <label for="inputUser" class="sr-only">Username</label>
        <input type="text" id="inputUser" class="form-control" formControlName="username" placeholder="Username" required autofocus>
        
          <!-- error message -->
        <small class="error" *ngIf="!logForm.controls.username.valid && (logForm.controls.username.dirty)" >
          Username must be less than 30 characters.
        </small>
          
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
        
        <!-- error message -->
        <small class="error" *ngIf="!logForm.controls.password.valid && (logForm.controls.password.dirty)" >
          Password must be 6 or more characters.
        </small>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
  
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="logForm.invalid" >Sign in</button>

        <a class="mt-3" id="mid" routerLink="/register"><strong>Sign Up</strong></a>
  
        <p class="mt-5 mb-3 justify-content-center text-muted">Agora Code Community &copy;2018</p>
      </form>
    </div>
      
  </div>
</div>
