<!-- Form to book a room or space -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Event Booking</h1>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4>Editing <small>Event name</small></h4>
        <hr>
          <div *ngIf="evnt">
            <form #evntForm="ngForm" (ngSubmit)="onSubmit(evntForm.value)">
              <div class="col-md-8 mb-3">
                <label for="evt">Event Name</label>
                <input type="text" class="form-control" id="evt" name="name" [(ngModel)]="evnt.name" required>
              </div>
              <!-- <div class="col-md-8 mb-3">
                <label for="descp">Event description</label>
                <textarea class="form-control" rows="3" id="descp" ngModel name="description" required></textarea>
              </div> -->

              <a routerLink="/view-details/{{ evnt.id }}">View the bookings listed under this event?</a>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" [disabled]="evntForm.pristine">Save</button>
                <a routerLink="/view-booking" class="btn btn-secondary" style="margin-left: 16px">Back</a>
              </div>
            </form>
          </div>    
      </div>
    </div>
  </div>
</div>
