
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Add User</h1>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="card col-10 offset-md-1 offset-lg-1">

        <div class="card-body">
          <h4>Create a new user of the system. Fill in all the fields</h4>
          <form (ngSubmit)="onSubmit(signUpFm.value)" [formGroup]="signUpFm">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="strt-date">First name:</label>
                <div class="input-group">
                  <input type="text" name="first_name" formControlName="first_name" class="form-control"/>
                </div>
                <!-- error message -->
                <small class="error" *ngIf="!signUpFm.controls.first_name.valid && (signUpFm.controls.first_name.dirty || signUpFm.controls.first_name.touched)" >
                  This field is required.
                </small>
              </div>
  
              <div class="col-md-6 mb-3">
                <label for="end-date">Last name:</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="last_name" formControlName="last_name" required>
                </div>
                <small class="error" *ngIf="!signUpFm.controls.last_name.valid && (signUpFm.controls.last_name.dirty || signUpFm.controls.last_name.touched)" >
                  This field is required.
                </small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="strt-date">Username:</label>
                <div class="input-group">
                  <input type="text" name="username" class="form-control" formControlName="username">
                </div>
                <small class="error" *ngIf="!signUpFm.controls.username.valid && (signUpFm.controls.username.dirty || signUpFm.controls.username.touched)" >
                  This field is required.
                </small>
              </div>
  
              <div class="col-md-6 mb-3">
                <label for="email">Email:</label>
                <div class="input-group">
                  <input type="email" class="form-control" name="email" formControlName="email" required>
                </div>
                <small class="error" *ngIf="!signUpFm.controls.email.valid && (signUpFm.controls.email.dirty || signUpFm.controls.email.touched)" >
                  Please enter a valid email address - john@doe.com.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="strt-date">Password:</label>
                <div class="input-group">
                  <input type="password" name="password" class="form-control" formControlName="password">
                </div>
                <small class="error" *ngIf="!signUpFm.controls.password.valid && (signUpFm.controls.password.dirty || signUpFm.controls.password.touched)" >
                  Password need to have a minimum of 6 character.
                </small>
              </div>
  
              <div class="col-md-6 mb-3">
                <label for="email">Retype Password:</label>
                <div class="input-group">
                  <input type="password" class="form-control" name="c_password" formControlName="c_password" required>
                </div>
                <small class="error" *ngIf="!signUpFm.controls.c_password.valid && (signUpFm.controls.c_password.dirty || signUpFm.controls.c_password.touched)" >
                  Password Mismatch.
                </small>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Add User</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
