<!-- App navbar -->
<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-4 col-md-2 mr-0" routerLink="/dashboard">Booking System</a>

  <!-- search bar -->
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" aria-controls="collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->

  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav" *ngIf="authService.loggedIn()">

      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-user"></i> Hi <strong>{{ getUsername() }}</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">
          <i class="fa fa-sign-out"></i> Sign out
        </a>
      </li>
    </ul>
  </div>
  <!-- links
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul> -->
</nav>
