
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Add booking</h1>
</div>

<div class="row">
  <div class="col">
    <div class="card col-10 offset-md-1 offset-lg-1">
      <div class="card-body">
        <p>Kindly fill in this form to add another booking to this (ID: {{id}}) event.</p>
        <form (ngSubmit)="onSubmit(bookForm.value)" #bookForm="ngForm">
          <div class="col-md-8 mb-3">
            <label for="evnt">Event ID:</label>
            <input type="text" class="form-control" id="evnt" name="event_id" [(ngModel)]="id" required readonly>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="strt-date">Date of event (start):</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                        name="start_date" ngModel ngbDatepicker #d="ngbDatepicker" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <img src="../../../assets/icons/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="end-date">End date:</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                        name="end_date" ngModel ngbDatepicker #e="ngbDatepicker" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                    <img src="../../../assets/icons/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="strt">Start Time:</label>
              <ngb-timepicker ngModel name="start_time"></ngb-timepicker>
              <!-- <input type="email" class="form-control" id="strt" ngModel name="strt_time" placeholder="10:00"> -->
            </div>
      
            <div class="col-md-6 mb-3">
              <label for="end">End Time:</label>
              <ngb-timepicker ngModel name="end_time"></ngb-timepicker>
              <!-- <input type="text" class="form-control" id="end" placeholder="12:00" ngModel name="emd_time" required> -->
            </div>
          </div>
          
          <div class="col-md-8 mb-3">
            <label for="space">Room/Space booked: <small>Hold down <kbd>Ctrl</kbd> to select multiple</small></label>
            <select multiple class="custom-select d-block w-100" ngModel name="rooms" id="space" required>
              <option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</option>
              <!-- <option>-- Choose --</option> -->
            </select>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <a routerLink="/view-details/{{id}}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back</a>
            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add Booking</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

